/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type=date]::-webkit-clear-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

#main-container {
    min-width: 400px;
}
a.dogresult  {
  text-decoration:none;
   color: #000000;
}
img.dogimage{
	width: calc(6vw + 100px);
    height: calc(6vw + 100px);
    min-width: 130px;
    min-height: 130px;
    object-fit: cover;

}

.page-item.active .page-link {
    z-index: 3;
    color: whitesmoke;
    background-color: dimgray;
    border-color: dimgray;
}

.dog-box {
    display: flex;
    justify-content: space-around;
}

.btn_col{
	background-color: dimgray;
	color: whitesmoke;
	opacity: 0.9;
	transition: 0.4s;
	font-family: 'Muli', sans-serif;
}

.btn_col:hover {
	opacity: 1;
	color: rgb(245, 164, 126);
}
